<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- HEADER -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">OAuth2/OpenID Connect</div>
            </div>
        </div>
        <!-- OAuth2 Details -->
        <div class="flex-auto -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <!-- IsAuthenticated -->
                <div class="flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5"><strong>IsAuthenticated</strong></div>
                    <div class="leading-5 text-secondary">{{isAuthenticated$ | async}}</div>
                </div>
                <!-- HasValidToken -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5"><strong>HasValidToken</strong></div>
                    <div class="leading-5 text-secondary">{{hasValidToken}}</div>
                </div> -->
                <!-- IsDoneLoading -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5"><strong>IsDoneLoading</strong></div>
                    <div class="leading-5 text-secondary">{{isDoneLoading$ | async}}</div>
                </div> -->
                <!-- CanActivateProtectedRoutes -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5"><strong>CanActivateProtectedRoutes</strong></div>
                    <div class="leading-5 text-secondary">{{canActivateProtectedRoutes$ | async}}</div>
                </div> -->
                <!-- IdentityClaims -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5 overflow-visible"><strong>IdentityClaims</strong></div>
                    <div class="leading-5 text-secondary overflow-visible">{{identityClaims | json}}</div>
                </div> -->
                <!-- RefreshToken -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b">
                    <div class="font-medium leading-5"><strong>RefreshToken</strong></div>
                    <div class="leading-5 text-secondary break-words">{{refreshToken}}</div>
                </div> -->
                <!-- AccessToken -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b overflow-x-auto">
                    <div class="ml-4">
                        <div class="font-medium leading-5"><strong>AccessToken</strong></div>
                        <div class="leading-5 text-secondary">{{accessToken}}</div>
                    </div>
                </div> -->
                <!-- IdToken -->
                <!-- <div class="z-20 flex items-center px-6 py-4 md:px-8 border-b overflow-x-auto">
                    <div class="ml-4">
                        <div class="font-medium leading-5"><strong>IdToken</strong></div>
                        <div class="leading-5 text-secondary">{{idToken}}</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>