<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex-auto h-full bg-card dark:bg-transparent">
        <div class="flex flex-col">
            <div class="flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Stocks</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="stocksCount > 0">
                                {{stocksCount}}
                            </ng-container>
                            {{stocksCount | i18nPlural: {
                            '=0' : 'No stocks',
                            '=1' : 'stock',
                            'other': 'stocks'
                            } }}
                        </div>
                    </div>
                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search stocks'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- STOCK LIST -->
                <div class="flex flex-wrap items-start  max-w-400 -m-4 bg-slate-300">
                </div>
            </div>
        </div>
    </div>
</div>