<div class="flex flex-col flex-auto w-full">

  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <!--    HEADER-->
    <div class="flex items-center justify-between w-full">
      <!-- Title -->
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Stocks</div>
        <div class="ml-0.5 font-medium text-secondary">
          <ng-container *ngIf="stocksCount > 0">
            {{stocksCount}}
          </ng-container>
          {{stocksCount | i18nPlural: {
          '=0': 'No stocks',
          '=1': 'stock',
          'other': 'stocks'
        } }}
        </div>
      </div>
    </div>
    <div class="flex w-full">
      <!-- Search -->
      <div class="flex-auto mt-4 sm:mt-0 md:mt-4">
       <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50" subscriptSizing="dynamic">
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
          <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search'">
      </mat-form-field>
      </div>
    </div>

    <!--    STOCK LIST-->
    <div class="flex-auto -mt-px pt-4 sm:pt-6">
      <div class="w-full max-w-screen-xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
          <div *ngFor="let s of (stocks$ | async)" class="sm:col-span-3 lg:col-span-2 grid grid-cols-1 gap-y-6">
            <div class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
              <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">
                  <a routerLink="{{s.id}}">{{s.company}}</a>
                </div>
                <div class="ml-2 -mt-2 -mr-3">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="weeklyExpensesMenu">
                    <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                  </button>
                  <mat-menu #weeklyExpensesMenu="matMenu">
                    <button mat-menu-item>Details</button>
                    <button mat-menu-item>This week</button>
                    <button mat-menu-item>This month</button>
                    <button mat-menu-item>This year</button>
                  </mat-menu>
                </div>
              </div>
              <div class="flex items-start justify-between">
                <div class="text-sm font-light tracking-tight leading-6 truncate">Symbol: {{s.symbol}}</div>
                <div class="text-sm font-light tracking-tight leading-6 truncate">WKN: {{s.wkn}}</div>
                <div class="text-sm font-light tracking-tight leading-6 truncate">ISIN: {{s.isin}}</div>
              </div>
              <div class="flex items-center mt-2">
                <div class="flex flex-col">
                  <apx-chart
                    class="flex-auto w-full h-16"
                    [chart]="chartWeeklyExpenses.chart"
                    [colors]="chartWeeklyExpenses.colors"
                    [series]="chartWeeklyExpenses.series"
                    [stroke]="chartWeeklyExpenses.stroke"
                    [tooltip]="chartWeeklyExpenses.tooltip"
                    [xaxis]="chartWeeklyExpenses.xaxis"
                    [yaxis]="chartWeeklyExpenses.yaxis"></apx-chart>
                </div>
              </div>
              <div class="flex items-center mt-5">
                <div class="flex flex-col">
                  <div class="text-3xl font-semibold tracking-tight leading-tight">
                    {{s.price | currency:s.currency}}
                  </div>
                  <!-- <div class="flex items-center">
                    <mat-icon
                      class="mr-1 icon-size-5 text-green-500"
                      [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                    <div class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                      <span class="text-green-500">2%</span>
                      below projected

                    </div>
                  </div> -->
                </div>
              </div>
              <!--            SECTOR-->
              <div class="flex items-start mt-5">
                <div class="w-1/3 text-md font-semibold tracking-tight leading-tight">Sector:</div>
                <div class="w-2/3 text-md font-light tracking-tight leading-tight">{{s.sector}}</div>
              </div>

              <div class="flex items-start mt-3">
                <div class="w-1/3 text-md font-semibold tracking-tight leading-tight">Market Cap:</div>
                <div class="w-2/3 text-md font-light tracking-tight leading-tight">{{s.market_cap | currency:s.currency}}</div>
              </div>
              <div class="flex items-start mt-3">
                <div class="w-1/3 text-md font-semibold tracking-tight leading-tight">DIVe:</div>
                <div class="w-2/3 text-md font-light tracking-tight leading-tight">{{s.DIVe}}</div>
              </div>
              <div class="flex items-start mt-3">
                <div class="w-1/3 text-md font-semibold tracking-tight leading-tight">KGVe:</div>
                <div class="w-2/3 text-md font-light tracking-tight leading-tight">{{s.KGVe}}</div>
              </div>
              <div class="flex items-start mt-3">
                <div class="w-1/3 text-md font-semibold tracking-tight leading-tight">Score:</div>
                <div class="w-2/3 text-md font-light tracking-tight leading-tight">8</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
